/venv
/__pycache__
/tz_data
/deprecated
/geography_source
/gis
/ios
/lib
/temp_documents
/temp_manual_QGIS
/temp_notes
/zone_transition_files
README2*
utc_based_results_dict.json
pubspec*
/web

/.idea
/android
/build
/images
/test
.metadata
.packages
rz.iml
